svg{
    fill: white;
}

#map{
    margin:0px;
    padding:0px;
    position:relative;
}

path {
    stroke-linejoin: round;
}

.points {
    fill: black;
}

.subunit {
    fill: none;
    stroke: #999;
    stroke-size: 1px;
}

.voronoi {
    fill: none;
    stroke: brown;
    stroke-width: .5px;
}

